		<div class='col-sm-3 col-sm-offset-1 sidebar'>
			<div class='sidebar-module about'>
				<h4>About</h4>
				I am a programmer and graduate student at the University of Iowa. My interests
				include God, friends, service, human languages, designing computer languages,
				logic, fitness, nature and outdoor adventures, and capturing all of the above
				in writing and pictures.				
			</div>
			<div class='sibebar-module '>
				<h4>Overview</h4>
			</div>
			<div class='sibebar-module '>
				<h4>Where Am I?</h4>
			</div>
		</div>
