{% include header.html %}
<div class='container after-header'>
	<div class='row'>
		<div class='col-sm-12 intro'>
			<h1>{{ page.title }}</h1>
			<div class='intro-summary'>
				I am just some guy; one in a million.<br />
				If you're here, you're probably a friend who got bored...
				<div id='more-intro' class='expandee'>
				<hr />
				<p>
				What's new? Call me up! Let's go have a coffee! Not feeling social? That's okay, too - some other time.
				Anyway, feel free to peruse my wildly random musings, poetry, and a few, exotic hobby projects. Maybe check out my
				<a href='cdibbs.github.io/folproof' title='FOLProof'>First-Order Logic language and as-you-type verifier</a>. Not
 				your sort of hobby? How about some poetry inspired by random friends, dreams, and so forth?
				</p>
				<p>
				Thanks for stopping by. Enjoy!
				</p>
				</div>
				<a href='#' title='Well, are ya...?' class='expando' data-expandee='more-intro'>&gt;&gt;&gt;</a>
			</div>
		</div>
		<div class='col-sm-8'>
			{{ content }}
		</div>
			{% include sidebar.html %}
	</div>
</div>
{% include footer.html %}
