{% include header.html %}
<div class='container after-header'>
	<div class='row'>
		<div class='col-sm-12 intro'>
			<h1>{{ page.title }}</h1>
			<div class='intro-summary'>
				I am just some guy; one in a million.<br />
				If you're here, you're probably a friend who got bored...
				<a href='#' title='Well, are ya...?' class='expando' data-expandee='more-intro'>&gt;&gt;&gt;</a>
				<div id='more-intro' class='expandee'>
				<hr />
				<div>
				Well, friend - You can only know someone, through what they create, so well.<br />
				Call me up! Let's go have a coffee!
				<a href='#' title='Well, are ya...?' class='expando' data-expandee='still-more'>&gt;&gt;&gt;</a>
				<div id='still-more' class='expandee'>
				<hr />
				No? Not feeling social? That's okay, too - some other time.
				Anyway, feel free to peruse my wildly random musings, poetry, and a few, exotic hobby projects. Maybe check out my
				brand-new <a href='http://cdibbs.github.io/folproof' title='FOLProof'>FOL language</a>. Not
 				your sort of hobby? How about some poetry inspired by random friends, dreams, and so forth?
				<br />
				Thanks for stopping by. Enjoy!
				</div>
				</div>
				</div>
			</div>
		</div>
		<div class='col-sm-8'>
			{{ content }}
		</div>
			{% include sidebar.html %}
	</div>
</div>
{% include footer.html %}
